body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-color: lightblue;
}

.score{
    background-color: black;
    color: white;
    width: 120px;
    margin: 20px;
    font-size: 90px;
    border-radius: 20px;
    
}
.container {
    display: flex;
    justify-content: space-around;
    margin:auto auto;
    align-items: center;
    background-color: blue;
    width: 600px;
    height: 250px;
    gap: 20px;
}

.button {
    background-color: none;
    justify-self: unset;
}

